<link rel="icon" href="assets/images/lumohackslogo.ico" type="image/x-icon">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="mobile-menu-open" class="shadow-large">
  <i class="fa fa-bars" aria-hidden="true"></i>
</div>
<header class="navbar" style="margin-bottom: 0;" >
  <div id="mobile-menu-close">
    <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <ul id="menu" class="shadow">
    <li><a href="/" class="no-scroll">Home</a></li>
    <li><a href="/judging" class="no-scroll">Judging</a></li>
    <li><a href="/partner" class="no-scroll">Become a partner</a></li>
    <li><a href="#">About us</a></li>
  </ul>
</header>
<div class="sect--type">
  <div class="container navpage">
    <div class="row row--center">
      <div class="col-md-12 col-sm-12 coffee">
        <h2 class="sect__subtitle">
          Design Lab Vancouver
        </h2>
        <h3 class="tagline"> Teach. Inspire. Empower. </h3>
        <h5 class="navpage__descr">
          Design Lab is a nonprofit organization that is based in Vancouver. Our vision is to integrate health and tech to create a community that achieves more in both areas. We host tech events in Vancouver that teach the technical aspects of up and coming technology and create workshops to teach and develop new skills.
          <br/>
          <br/>
          Design Lab created Canada’s first major health hackathon, Lumohacks. Every fall, Lumohacks invites people together in different fields of health and tech such as researchers, med students, designers, engineers, and tech developers.
        </h5>
        <h5 class="navpage__descr"> Lumohacks is organized and held by
          <a href="http://designlablive.com/"
          target="_blank"
          style="color: #6adacf;">
          Design Lab Vancouver</a>
        <h5>
        <div class="aboutus-img"></div>
        <h5>Our most recent event on Amazon Alexa at Downtown Vancouver.</h5>
      </div>
  </div>
</div>
<footer class="footer">
  <div class="footer__aboutus">
    <p class="footer__desc">
      Copyright &copy; 2018 Design Lab Live
    </p>
    <div class="social">
      <a href="https://twitter.com/designlablive" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/designlablive/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/Design-Lab-235200070181237/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
