
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/*--------------------------------
RESET
---------------------------------*/
*{
  font-family: 'Montserrat', sans-serif;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*--------------------------------
GLOBAL
---------------------------------*/


p{
  color: #767676;
  line-height:23px;
  font-family: 'Nunito', sans-serif;
}

.btn {
  color: #333;
  padding: 10px 20px;
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: 500;
  background-color: #bee5de;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
}

.btn--opacity {
  animation: opacity 3s;
}

.sect {
  padding: 130px 0;
}
.sect--brown{
  background-color: #1d140b;
}

.sect--grey{
  background-color: #ebebeb;
}

.sect--white{
  background-color: #fff;
}

.sect--no-bottom{
  padding-bottom: 0;
}

.sect--dark-text{
  color: #333;
}
.col--inbl{
  display: inline-block;
  float: none;
}
.row--center{
  text-align: center;

}
.row--small {
  max-width: 960px;
  margin:0 auto;
}

.row--margin{
  margin-top: 65px;
}
/*--------------------------------
ANIOMATION
---------------------------------*/
@-webkit-keyframes banner-in {
  0% {
    background-color:rgba(0,0,0,1);
  }
  100% {
    background-color:rgba(0,0,0,0.5);
  }
}
@-moz-keyframes banner-in {
  0% {
    background-color:rgba(0,0,0,1);
  }
  100% {
    background-color:rgba(0,0,0,0.5);
  }
}
@-o-keyframes banner-in {
  0% {
    background-color:rgba(0,0,0,1);
  }
  100% {
    background-color:rgba(0,0,0,0.5);
  }
}
@keyframes banner-in {
  0% {
    background-color:rgba(0,0,0,1);
  }
  100% {
    background-color:rgba(0,0,0,0.5);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes opacity {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes opacity {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes opacity {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/*--------------------------------
HEADER
---------------------------------*/
.navbar
{
  animation-name: dropHeader;
  width: 100%;
  background: -webkit-linear-gradient(to right, #6adacf, #3b2323);
  background: linear-gradient(to right, #6adacf, #3b2323);
  border-bottom: 2px solid linear-gradient(to right, #6adacf, #3b2323);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
}
.navbar > ul
{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.navbar > ul li
{
  display: inline-block;
}
.navbar > ul li a
{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  width: 250px;
  display: inline-block;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  position: relative;
}
.navbar > ul li a::before {
  background: #fff none repeat scroll 0 0;
  bottom: -2px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 0%;
  transition: 0.5s;
}
.navbar > ul li a:hover::before
{
  width: 100%;
}


header a:focus {
  color: #6adacf;
  text-decoration: none
}

header.active {
  display: block
}

header.sticky {
  position: fixed;
  z-index: 999
}

#mobile-menu-open, #mobile-menu-close {
  display: none;
}

/*--------------------------------
BANNER
---------------------------------*/
.banner{
  background-color: #fff;
  background-image: url('../img/lumohacks_logo_white.png');
  background-repeat: no-repeat;
  background-size: 900px;
  background-position: center;
  /* background-size: cover; */
  background-attachment: fixed;
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: table;
  height: 100%;
  text-align:center;
  /* background-color: rgba(255,255,255,0.2); */
  animation: banner-in 1s ;
}

.banner__container {
  display: table-cell;
  vertical-align: middle;
}

.banner__scroll-down {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -12px;
  cursor: pointer;
  animation: opacity 2s;
}

.banner__title {
  text-transform: uppercase;
  font-size: 72px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 800;
  animation: opacity 2s;
}

.banner__text {
  /* font-size: 14px; */
  color: #333;
  margin-top: 460px;
  margin-bottom: 18px;
  animation: opacity 2s;
}

/*--------------------------------
TYPE OF COFFEE
---------------------------------*/
.sect--type{
  /* background-image: url('http://lumohacks.com/wp-content/uploads/2017/09/Lumohacks_2017_selfie2-1024x576.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.sect__title {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 20px;
}

.sect__subtitle {
  margin-bottom: 0;
}

.coffee {
  padding: 0 25px;
}

.coffee__name {
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
}

.coffee__img {
  width: 90%;
}

.coffee__descr {
  margin: 0;
  line-height: 23px;
}

/*--------------------------------
STORY
---------------------------------*/

.story-img {
  /* background-image: url('http://lumohacks.com/wp-content/uploads/2016/12/lumohacks_3d_printing-1024x683.jpg'); */
  background-image: url('../img/lumo-1.jpg');
  height: 0;
  padding-bottom: 52%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1d140b;
}

/*--------------------------------
2 HALF SECTION
---------------------------------*/
.half-sect__second {
  background-image: url('../img/lumo-4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#fff;
}

.half {
  width: 50%;
  display: table-cell;
  background-color:#fff;
}

.half-sect__first {
  padding: 150px;
  background-color:#fff;
}

.description__p {
  margin-bottom: 40px;
}

.description__title {
  margin-top: 0;
  margin-bottom: 15px;
}

/*--------------------------------
GREAT COFFEE
---------------------------------*/
.sect--great {
  background-image: url('../img/lumo-5.jpg');

  /* background-image: url('http://lumohacks.com/wp-content/uploads/2016/12/lumohacks_team_qleo-1024x683.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color:#fff;
}

/*--------------------------------
THE BEST COFFEE SHOP
---------------------------------*/
.sect--best {
  /* background-image: url('https://image.ibb.co/mh6S3b/section_bg_3.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 160px 0; */
  background-color:#fff;
}

.best__title {
  letter-spacing: 1px;
  font-size: 14px;
  /* text-transform: uppercase; */
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #3fa08d;
}

.best__img {
  width: 50px;
}

.best--margin {
  margin-top: 20px;
  margin-bottom: 40px;
}

.best--bottom {
  margin-bottom: 40px;
}
/*--------------------------------
THREE IMAGES
---------------------------------*/
.three-img__img {
  height: 0;
  padding-bottom: 33.3%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.three-img {
  display: table;
  height: 33.3%;
  width: 100%;
}

/* .three-img--1 {
background-image: url('./img/lumo-1.jpg');
}

.three-img--2 {
background-image: url('./img/lumo-2.jpg');
}

.three-img--3 {
background-image: url('./img/lumo-3.jpg');
} */

/*--------------------------------
BLOG IMAGES
---------------------------------*/

.last-articles {
  margin-top: 50px;
}
.article-pre__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 80%;
}

.article-pre {
  background-color: #fff;
}

.article-pre__title {
  letter-spacing: 1px;
  font-size: 16px;
  margin-top:0;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

.article-pre__date {
  color: #767676;
  line-height: 23px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 5px;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
}

.article-pre__info {
  padding: 25px 20px 20px 20px;
}
.article-pre__ex {
  margin: 0;
  line-height: 22px;
}

/* .article-pre-3 .article-pre__img {
background-image: url('./img/tema_logo.png');

} */

/* .article-pre-2 .article-pre__img {
background-image: url('https://images.pexels.com/photos/64775/pexels-photo-64775.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
}

.article-pre-3 .article-pre__img {
background-image: url('https://static.pexels.com/photos/373888/pexels-photo-373888.jpeg');
}  */

/*--------------------------------
FOOTER
---------------------------------*/
.footer {
  /* display: table;
  width: 100%;
  position: fixed; */
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer__half {
  width: 50%;
  display: table-cell;
  padding: 100px 140px;
}

.footer__half-1 {
  background-image: url('http://designlablive.com/wp-content/uploads/2016/12/Team_photo.jpg');
  background-position: left center;
  /* width:50%; */
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__half-2 {
  background-color: #000;
}

.footer__big-title {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 25px;
  color: #fff;
}

.footer__title {
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

.footer__desc {
  color: #d7d7d7;
  margin-bottom: 25px;
}

.social a {
  color: #74808a;
  padding: 20px;
  font-size: 20px;
}

/* .social {
margin-left: -60px;
} */

/*--------------------------------
RESPONSIVE
---------------------------------*/

@media screen and (max-width:1024px){
  .sect{
    padding:100px 0;
  }
  .row--margin {
    margin-top: 55px;
  }
  .banner__title {
    font-size: 54px;
  }
  .half-sect__first{
    padding:100px;

  }
  .three-img__img{
    padding-bottom: 40%;
  }
  .sect--no-bottom{
    padding-bottom:0px !important;
  }
  .footer__half {
    padding: 90px 120px;
  }
  .sect-t-footer{
    display:none;
  }
  .footer{
    position:relative;
  }
}


@media screen and (max-width:991px){
  .sect{
    padding:80px 0;
  }
  .banner__title {
    font-size: 50px;
  }
  .row--margin {
    margin-top: 45px;
  }
  .coffee {
    padding: 0 15px;
  }
  .coffe__img{
    width:100%;
  }
  .half-sect__first {
    padding: 80px;
  }
  .last-articles{
    margin-bottom:30px;
  }

  .sect__title, .description__title, .footer__big-title {
    line-height: 38px;
    font-size: 28px;
  }
  .footer__half {
    padding: 60px 90px;
  }

}

@media screen and (max-width:767px){
  .banner__title {
    font-size: 48px;
  }
  .three-img{
    height:auto;
  }
  .sect{
    padding:60px 0;
  }
  .row--margin {
    margin-top: 30px;
  }
  .coffee{
    margin-bottom:30px;
  }
  .coffee__img {
    width: 35%;
  }
  .coffee__descr, .sect__subtitle{
    padding: 0 50px;
  }
  .sect__title, .description__title, .footer__big-title {
    line-height: 36px;
    font-size: 26px;
  }
  .half-sect__first {
    padding: 50px;
  }
  .article-pre{
    margin-bottom:15px;
  }
  .footer__half {
    width: 100%;
    display: block;
    padding: 50px 50px;
  }
  .half-sect {
    display: block;
    height: auto;
  }
  .half {
    width: 100%;
    display: block;
  }
  .half-sect__second{
    padding-bottom:60%;
  }

  #menu.active {
    display: block
  }

  #mobile-menu-open {
    /* display: none; */
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 10px;
    color: #6adacf;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #fff
  }

  #mobile-menu-close {
    /* display: none; */
    text-align: right;
    width: 100%;
    background: #fff;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: #6adacf
  }

  #mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase
  }

  #mobile-menu-close i {
    vertical-align: middle
  }

  .navbar {
    position: fixed;
    display: none;
    z-index: 999;
    animation: none;
    bottom: 0;
  }

  #mobile-menu-open, #mobile-menu-close {
    display: block;
  }

  #menu {
    background-color:darken(#337ab7,45%);
    overflow-y: auto;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
  }
  #menu li {
    display: block;
    margin-bottom: 10px;
  }
  .banner {
    background-size: 320px;
  }
  .banner__overlay {
    position: relative;
  }

}

@media screen and (max-width:480px){
  .banner {
    background-size: 240px;
    margin-top: -50px;
  }
  .banner__title {
    font-size: 44px;
  }
  .sect{
    padding:50px 0;
  }
  .sect__title, .description__title {
    line-height: 30px;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .sect__subtitle{
    padding:0;
  }
  .coffee__img {
    width: 65%;
  }
  .coffee__descr, .sect__subtitle {
    padding: 0 15px;
  }
  .best--margin {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .row--margin {
    margin-top: 15px;
  }
  .best__img {
    width: 44px;
  }
  .best__title {
    margin-top: 15px;
  }
  .three-img__img {
    padding-bottom: 60%;
    width:100%;
  }

  .footer__half {
    padding: 35px 35px;
  }
  .footer__desc {
    margin-bottom: 10px;
  }

}

/* footer */
@media (min-width: 1200px)
.container {
  width: 1170px;
}
@media (min-width: 992px)
.container {
  width: 970px;
}
@media (min-width: 768px)
.container {
  width: 750px;
}
.footercontainer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

li {
  list-style: none;
  display: inline-block;
}

.navpage {
  margin:60px;
}

.navpage__descr {
  line-height: 28px;
}

.footer__aboutus {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42.5%;
  padding-right: 42.5%;
  background-color: #111;
}

.tagline {
  color:#767;
  font-family: "Lora", serif;
  font-size: 24px;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 15px;
}

.aboutus-img {
  background-image: url('./img/voicefirst.jpg');
  height: 0;
  padding-bottom: 48%;
  margin-top: 40px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1d140b;
}

.email {
  text-align: center;
}

.email svg {
  vertical-align: middle;
  margin-right: 5px;
}

.email a {
  color: #6a8;
  text-decoration: none;
  font-family: Consolas;
  letter-spacing: 1.25px;
}

.email a:hover {
  color: #a3ccb7;
}
