<link rel="stylesheet" href="./css/main.css" type="text/css">
<link rel="icon" href="./img/lumohackslogo.ico" type="image/x-icon">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="mobile-menu-open" class="shadow-large">
  <i class="fa fa-bars" aria-hidden="true"></i>
</div>
<header class="navbar" style="margin-bottom: 0;" >
  <div id="mobile-menu-close">
    <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <ul id="menu" class="shadow">
    <li><a href="/" class="no-scroll">Home</a></li>
    <li><a href="/judging" class="no-scroll">Judging</a></li>
    <li><a href="#" class="no-scroll">Become a partner</a></li>
    <li><a href="/about" class="no-scroll">About us</a></li>
  </ul>
</header>
<div class="sect--type">
  <div class="container navpage">
    <div class="row row--center">
      <div class="col-md-12 col-sm-12 coffee">
        <h2 class="sect__subtitle">
          Being a Partner
        </h2>
        <h5 class="navpage__descr">
          <br />
          lumohacks is Canada’s first major health hackathon bringing together innovators to create change in health and mental health using technology. Located in the ocean-mountain setting of Vancouver, BC, engineers and entrepreneurs will explore the underlying issues of living with mental illness. They will be given the cutting-edge technology needed to make a difference, and mentored by top industry leaders in the health and technology sectors.
          <br />
          <br />

          We’re expecting over 350 motivated engineers, designers, and entrepreneurs to create mobile, web, and hardware hacks to better the lives of mental health patients. This is the perfect opportunity for any company to get involved, whether you are interested in recruiting talent, expanding influence in the health & tech space, or being established at the forefront of cutting-edge technology, and being exposed to mid to large sized companies who are looking for partnerships.
          <br />
          <br />

          Partnering with a hackathon like lumohacks is a low-cost way to source untapped talent from the top schools in North America. As a partner, you may demo your products or APIs for our participants, to generate publicity and receive feedback. This is the perfect opportunity for your company to get involved, whether you are interested in recruiting talent, expanding your influence, or being part of social good.
          <br />
          <br />

          We want to work with like-minded organizations interested in pioneering health development, and improving lives. We understand the diverse needs of every company and would be open to building custom partnerships with the right partners! Get in touch now!
          <p class="email" style='margin-top:20px'>
            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M2.167 2h11.666C14.478 2 15 2.576 15 3.286v9.428c0 .71-.522 1.286-1.167 1.286H2.167C1.522 14 1 13.424 1 12.714V3.286C1 2.576 1.522 2 2.167 2zm-.164 3v1L8 10l6-4V5L8 9 2.003 5z" fill="#6a8" fill-rule="evenodd"></path></svg>
            <a href="mailto:contact@designlablive.com" target="_blank">contact@designlablive.com</a>
          </p>
        </h5>
      </div>
  </div>
</div>

<footer class="footer">
  <div class="footer__half footer__half-1">
  </div>
  <div class="footer__half footer__half-2">
    <h2 class="footer__big-title">ABOUT US</h2>
    <p class="footer__desc"><strong>Design Lab </strong>is a nonprofit organization that is based in Vancouver. Our vision is to integrate health and tech to create a community that achieves more in both areas. We host tech events in Vancouver that teach the technical aspects of up and coming technology and create workshops to teach and develop new skills.</p>
    <br />
    <div>
      <p class="footer__desc">
        Copyright &copy; 2018 Design Lab Live
      </p>
      <div class="social">
        <span><a href="https://twitter.com/designlablive" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
        <span><a href="https://www.instagram.com/designlablive/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
        <span><a href="https://www.facebook.com/Design-Lab-235200070181237/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </div>
</footer>
