<link rel="stylesheet" href="./css/main.css" type="text/css">
<link rel="icon" href="./img/lumohackslogo.ico" type="image/x-icon">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
   crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="mobile-menu-open" class="shadow-large">
   <i class="fa fa-bars" aria-hidden="true"></i>
</div>
<header class="navbar">
   <div id="mobile-menu-close">
      <span>Close
      <i class="fa fa-times" aria-hidden="true"></i>
   </div>
   <ul id="menu" class="shadow">
      <li>
         <a target="_blank" href="/" class="no-scroll">Home</a>
      
      <li>
         <a target="_blank" href="/judging" class="no-scroll">Judging</a>
      
      <li>
         <a target="_blank" href="/partner" class="no-scroll">Get Involved</a>
      
      <li>
         <a target="_blank" href="#" class="no-scroll">Resources</a>
      
      <li>
         <a target="_blank" href="/about" class="no-scroll">About us</a>
      
   </ul>
</header>
<br />
<br />
<div id="resources">
   <div>
      <h1>Topic Presentations</h1>
      <a target="_blank" href="https://drive.google.com/open?id=1BQapPWXJu6imKjZjJ7MqK8rL5D_iILab"><span style="font-weight: bold">Dr. Saira Sabzaali</span>: Depression</a>
      <a target="_blank" href="https://drive.google.com/open?id=0B94S7-WfSSp8U1Fjanp2bUwwdllIMVNrYXhjcDNNekhCOEk4"><span style="font-weight: bold">Dr. Duncan Shields</span>: PTSD / OSI</a>
      <a target="_blank" href="https://drive.google.com/open?id=1uP__cxmrDHOTxY7RFOOoNoKwsuKkGA5S"><span style="font-weight: bold">Dr. Merv Gilbert</span>: Resilience</a>
      <a target="_blank" href="https://drive.google.com/open?id=1M9XErW-3MYETEaIq77J_aL1G8cPkg1Xb"><span style="font-weight: bold">Dr. Tracey Leacock & Dr. Marsha McCall</span>: Substance Use / Addiction</a>
      <a target="_blank" href="https://drive.google.com/open?id=1kwtYAzDhsnQr_w35AqpDPxVEhPawODhC"><span style="font-weight: bold">Dr. Dan Cox</span>: Suicide Prevention</a>
   </div>

   <div class="row row--center">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1>Hardware List</h1>
        <a target="_blank" href="https://hardware.mlh.io/events/lumohacks-2018">Major League Hacking (MLH) Hardware List</a>
        <a target="_blank" href="https://hack.mlh.io/prizes/">Major League Hacking (MLH) Hardware Prize List</a>
        <a target="_blank" href="https://docs.google.com/spreadsheets/u/1/d/1aS_ADjVeZCtK_ywTBVtEa4SEIIprFDNspjMSSU1_zRs/edit?usp=drive_open&ouid=116104520950273333924">SFU Computer Science Student Society</a>
        <p>Other hardware will be available to be loaned
            out by the SFU Computer Science Student Society.
            <br />
            Hardware list is TBA.
        </p>
        <a target="_blank" href="#">Technovus</a>
        <p>Other hardware will be available to be loaned
            out by Technovus student group. <br />Hardware list
            is TBA.</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <h1>Hardware API</h1>
          <a target="_blank" href="https://www.arduino.cc/en/Main/Software">Arduino IDE</a>
          <a target="_blank" href="https://developer.oculus.com/">OculusRift</a>
          <a target="_blank" href="https://developer.leapmotion.com/">Leap Motion</a>
          <a target="_blank" href="https://www.hackster.io/intel/products/intel-edison">Intel Edison</a>
          <a target="_blank" href="https://docs.particle.io/guide/getting-started/intro/core/">Spark Cores</a>
          <a target="_blank" href="http://developer.choosemuse.com/">Muse Headband</a>
          <a target="_blank" href="http://developer.estimote.com/">Estimote Beacon</a>
          <a target="_blank" href="https://developer.amazon.com/echo">Amazon Echo</a>
          <a target="_blank" href="http://developer.samsung.com/home.do">Samsung Phone</a>
          <a target="_blank" href="http://www.samsung.com/us/samsungdeveloperconnection/developer-resources/gear-vr.htm">Samsung VR</a>
          
        </div>
   </div>



   <div class="row row--center">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h1>Popular API</h1>
      <a target="_blank" href="https://developer.twitter.com/en/docs">Twitter</a>
      <a target="_blank" href="https://developers.google.com/youtube/">YouTube</a>
      <a target="_blank" href="https://developers.google.com/calendar/?hl=en">Google Calendar</a>
      <a target="_blank" href="https://www.instagram.com/developer/?hl=en">Instagram</a>
      <a target="_blank" href="https://developers.facebook.com/docs/graph-api">Facebook</a>
      <a target="_blank" href="https://developer.spotify.com/documentation/web-api/">Spotify</a>
    </div>
   <div class="col-md-4 col-sm-4 col-xs-12">
    <h1>Health API</h1>
    <a target="_blank" href="https://www.humanapi.co/">Human</a>
    <a target="_blank" href="https://www.healthtap.com/what_we_make/developers/">Healthtap</a>
    <a target="_blank" href="https://developer.walgreens.com/">Walgreens</a>
    <a target="_blank" href="https://developer.apple.com/healthkit/">Apple Health Kit</a>
    <a target="_blank" href="http://developer.runkeeper.com/healthgraph/overview">HealthGraph </a>
    <a target="_blank" href="https://runkeeper.com/developer/healthgraph/overview">RunKeeper</a>
    <a target="_blank" href="https://developer.nike.com/">Nike</a>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
      <h1>Wireframes</h1>
      <a target="_blank" href="https://moqups.com/" target="_blank">Moqups</a>
      <a target="_blank" href="http://www.balsamiq.com/" target="_blank">Basalmiq</a>
      <a target="_blank" href="http://www.invisionapp.com/" target="_blank">Invision</a>
      <a target="_blank" href="http://www.axure.com/" target="_blank">Axure</a>
   </div>
</div>
<script>
   var header = document.getElementsByTagName('header')[0];
   var body = document.body;
   
   var node = document.body.children["root-view"];
   
   if (!node.classList.contains("container")) {
     node.classList.add("container");
   }
   
   document.getElementById('mobile-menu-open').onclick = function () {
     header.classList.add("active");
     body.classList.add("active");
   };
   
   document.getElementById('mobile-menu-close').onclick = function () {
     header.classList.remove("active");
     body.classList.remove("active");
   };
   
   header.classList.remove("active");
   body.classList.remove("active");
</script>