<div id="team" class="page">
  <div class="divided title">Team</div>
  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui error message" ng-show="error"> {{error}} </div>
      <div class="ui segment">
        <div class="ui form" ng-show="!user.teamCode && regIsOpen">
          <div class="field">
              <p>Team size is 2 - 4 people.</p>
              <p>Instructions for joining and creating teams for Lumohacks will be provided in our Slack channel.</p>
              <p>Stay tuned! More information will be sent to your email.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var node = document.body.children["root-view"];
  if (!node.classList.contains("container")) {
    node.classList.add("container");
  }
</script>
