
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/*--------------------------------
RESET
---------------------------------*/
*{
  font-family: 'Montserrat', sans-serif;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*--------------------------------
GLOBAL
---------------------------------*/


p{
  color: #767676;
  line-height:23px;
  font-family: 'Nunito', sans-serif;
}

.btn {
  color: #333;
  padding: 10px 20px;
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: 500;
  background-color: #bee5de;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
}

.btn--opacity {
  animation: opacity 3s;
}

.sect {
  padding: 100px 0;
}
.sect--brown{
  background-color: #1d140b;
}

.sect--grey{
  background-color: #ebebeb;
}

.sect--white{
  background-color: #fff;
}

.sect--no-bottom{
  padding-bottom: 0;
}

.sect--dark-text{
  color: #333;
}
.col--inbl{
  display: inline-block;
  float: none;
}
.row--center{
  text-align: center;

}
.row--small {
  max-width: 960px;
  margin:0 auto;
}

.row--margin{
  margin-top: 65px;
}

/*--------------------------------
HEADER
---------------------------------*/
.navbar
{
  display: block;
  padding: 0 !important;
  z-index: 2;
  animation-name: dropHeader;
  width: 100%;
  /* background: -webkit-linear-gradient(to right, #6adacf, #3b2323); */
  background: linear-gradient(to right, #6adacf, #3b2323);
  /* border-bottom: 2px solid linear-gradient(to right, #6adacf, #3b2323); */
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
}
.navbar > ul
{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.navbar > ul li
{
  display: inline-block;
}
.navbar > ul li a
{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  width: 250px;
  display: inline-block;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  position: relative;
}
.navbar > ul li a::before {
  background: #fff none repeat scroll 0 0;
  bottom: -2px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 0%;
  transition: 0.5s;
}
.navbar > ul li a:hover::before
{
  width: 100%;
}


header a:focus {
  color: #6adacf;
  text-decoration: none
}

header.active {
  display: block
}

header.sticky {
  position: fixed;
  /* z-index: 999 */
}

#mobile-menu-open, #mobile-menu-close {
  display: none;
}

/*--------------------------------
BANNER
---------------------------------*/
.banner-mobile {
  display: none;
}
.banner{
  background-color: #fff;
  background-image: url('../assets/images/lumohacks_logo_white.png');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 50% 35%;
  /* background-size: cover; */
  background-attachment: fixed;
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: table;
  height: 100%;
  text-align:center;
  /* background-color: rgba(255,255,255,0.2); */
  animation: banner-in 1s ;
}

/* .banner__container {
display: table-cell;
vertical-align: middle;
} */

.banner__scroll-down {
  background-color: #46B29D;
  position: absolute;
  bottom: 0px;
  right: 50%;
  // margin-left: -12px;
  /* cursor: pointer; */
  animation: opacity 2s;
}

.banner__title {
  text-transform: uppercase;
  font-size: 72px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 800;
  animation: opacity 2s;
}

.banner__text {
  position: absolute;
  bottom: 20%;
  left: 15%;
  right: 17%; 
  color: #333;
  margin-top: 40%;
  margin-bottom: 18px;
  animation: opacity 2s;
}

.banner__btn {
  position: absolute;
  bottom: 30%;
  left: 34%;
  right: 36%;
}

/*--------------------------------
APPLICATION BUTTON
---------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';

.apply-btn.striped-shadow span {
  display: block;
  position: relative;
  z-index: 2;
  border: 5px solid;
}
.apply-btn.striped-shadow.dark span {
  font-family: 'Bungee Shade', sans-serif;
  font-size: 18px;
  border-color: #3f2122;
  background: #06e2c7;
  color: #3f2122;
}

.apply-btn {
  // height: 80px;
  // line-height: 65px;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  font-size: 1.35rem;
  transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s;
  transition: opacity .3s, z-index .3s step-end, transform .3s;
  transition: opacity .3s,
    z-index .3s step-end,
    transform .3s,
    -webkit-transform .3s;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
}

.apply-btn {
  width: 218px;
  height: 52px;
  line-height: 38px;
}


a.apply-btn.striped-shadow.dark:after, a.apply-btn.striped-shadow.dark:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #3f2122 5px,
    #3f2122 10px,
    transparent 5px
  );
}

a.apply-btn.striped-shadow:hover:before {
  max-height: calc(100% - 10px);
}

a.apply-btn.striped-shadow:after {
  width: calc(100% - 6px);
  height: 6px;
  left: -5px;
  bottom: -8px;
  background-size: 15px 6px;
  background-repeat: repeat-x;
}
a.apply-btn.striped-shadow:after, a.apply-btn.striped-shadow:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  transition: max-height .3s, width .3s, -webkit-transform .3s;
  transition: transform .3s, max-height .3s, width .3s;
  transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
}

.apply-btn.striped-shadow:hover {
  -webkit-transform: translate(-12px, 12px);
  -ms-transform: translate(-12px, 12px);
  transform: translate(-12px, 12px);
  z-index: 3;
}

a.apply-btn.striped-shadow:hover:after, a.apply-btn.striped-shadow:hover:before {
  -webkit-transform: translate(12px, -12px);
  -ms-transform: translate(12px, -12px);
  transform: translate(12px, -12px);
}
a.apply-btn.striped-shadow:before {
  width: 6px;
  max-height: calc(100%);
  height: 100%;
  left: -12px;
  bottom: -5px;
  background-size: 8px 15px;
  background-repeat: repeat-y;
  background-position: 0 100%;
}


/*--------------------------------
TYPE OF COFFEE
---------------------------------*/
.sect--type{
  /* background-image: url('http://lumohacks.com/wp-content/uploads/2017/09/Lumohacks_2017_selfie2-1024x576.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.sect__title {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 20px;
}

.sect__subtitle {
  margin-bottom: 0;
}

.coffee {
  padding: 0 25px;
}

.coffee__name {
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
}

.coffee__img {
  width: 90%;
}

.coffee__descr {
  margin: 0;
  line-height: 23px;
}

/*--------------------------------
STORY
---------------------------------*/

.story-img {
  /* background-image: url('http://lumohacks.com/wp-content/uploads/2016/12/lumohacks_3d_printing-1024x683.jpg'); */
  background-image: url('../assets/images/lumo-1.jpg');
  height: 0;
  padding-bottom: 52%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1d140b;
}

/*--------------------------------
2 HALF SECTION
---------------------------------*/
.half-sect__second {
  background-image: url('../assets/images/lumo-4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#fff;
}

.half {
  width: 50%;
  display: table-cell;
  background-color:#fff;
}

.half-sect__first {
  padding: 150px;
  background-color:#fff;
}

.description__p {
  margin-bottom: 40px;
}

.description__title {
  margin-top: 0;
  margin-bottom: 15px;
}

/*--------------------------------
GREAT COFFEE
---------------------------------*/
.sect--great {
  background-image: url('../assets/images/lumo-5.jpg');

  /* background-image: url('http://lumohacks.com/wp-content/uploads/2016/12/lumohacks_team_qleo-1024x683.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color:#fff;
}

/*--------------------------------
THE BEST COFFEE SHOP
---------------------------------*/
.sect--best {
  /* background-image: url('https://image.ibb.co/mh6S3b/section_bg_3.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 160px 0; */
  background-color:#fff;
}

.best__title {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 45px;
  margin-bottom: 20px;
  color: $green-homepage;
}

.best__img {
  width: 50px;
}

.best--margin {
  margin-top: 20px;
  margin-bottom: 40px;
}

.best--bottom {
  margin-bottom: 40px;
}
/*--------------------------------
THREE IMAGES
---------------------------------*/
.three-img__img {
  height: 0;
  padding-bottom: 33.3%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.three-img {
  display: table;
  height: 33.3%;
  width: 100%;
}

/*--------------------------------
BLOG IMAGES
---------------------------------*/

.last-articles {
  margin-top: 50px;
}
.article-pre__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 80%;
}

.article-pre {
  background-color: #fff;
}

.article-pre__title {
  letter-spacing: 1px;
  font-size: 16px;
  margin-top:0;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

.article-pre__date {
  color: #767676;
  line-height: 23px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 5px;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
}

.article-pre__info {
  padding: 25px 20px 20px 20px;
}
.article-pre__ex {
  margin: 0;
  line-height: 22px;
}

/*--------------------------------
Schedule
// ---------------------------------*/
.Schedule {
  padding-left:80px;
  padding-right:80px;
}
.schedule-card-day {
    display: inline-block;
    color: #888888;
      text-decoration: none;
      border: 0;
      border-radius: .1em;
      border-bottom: 4px solid;
      border-image: linear-gradient(to left, #6adacf, #3b2323);
      border-image-slice: 1;
      transition: .2s all ease-in-out;
      padding: .25em .5em;
      &:hover{
        text-shadow: .05em .05em .05em rgba(0,0,0,0.4);
      }
 }

.schedule-card-day-2 {
    display: inline-block;
    color: #888888;
      text-decoration: none;
      border: 0;
      border-radius: .1em;
      border-bottom: 4px solid;
      border-image: linear-gradient(to right, #6adacf, #3b2323);
      border-image-slice: 1;
      transition: .2s all ease-in-out;
      padding: .25em .5em;
      &:hover {
        text-shadow: .05em .05em .05em rgba(0,0,0,0.4);
      }
 }

.schedule-card-divider {
    height: 5px;
    background-image: linear-gradient(to left, #43cea2, #185a9d);
    width: 80%;
    margin: auto;
}

.schedule-card-table {
  line-height: 2em;
    text-align: left;
    margin: auto;
    // font-size: 16px;
    margin-top: 10px;
}

.schedule-card-table > tbody > tr > td.schedule-event-time {
    padding: 5px;
    font-weight: 800;
}

.schedule-card-table > tbody > tr > td.schedule-event-info {
    padding: 5px;
}


/*--------------------------------
JUDGIN
---------------------------------*/

$tl-circle-size: 85px;
$tl-line-height: 1.5em;
$tl-border-width: 2px;

.badge-circle {
	background-color: #ddd;
	color:#333;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	left: -($tl-circle-size + $tl-border-width)/2;
	top: -($tl-circle-size + $tl-border-width)/2 + 1px;
    height: $tl-circle-size;
    width: $tl-circle-size;
    min-width: $tl-circle-size;
	font-size: $tl-circle-size/6;
    border-radius: 50%;
}

.list-timeline {
	padding-left: $tl-circle-size/2;
	padding-top: $tl-circle-size/2;
	> li {
    display: block;
		border-left: $tl-border-width solid #ddd;
		.timeline-content {
			position: relative;
			top: -$tl-line-height/2;
		}
		&:last-child {
			border-left: $tl-border-width solid transparent;
		}
	}
}

/*--------------------------------
FOOTER
---------------------------------*/
.footer {
  display: table;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer__half {
  width: 50%;
  display: table-cell;
  padding: 60px;
}

.footer__half-1 {
  background-image: url('http://designlablive.com/wp-content/uploads/2016/12/Team_photo.jpg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__half-2 {
  background-color: #000;
}

.footer__big-title {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 25px;
  color: #fff;
}

.footer__title {
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

.footer__desc {
  color: #d7d7d7;
  font-size: 13px;
  /* width:300px; */
  /* margin-bottom: 25px; */
}

.social a {
  color: #74808a;
  font-size: 20px;
  padding-left: 4px;
  margin-left: 33px;
  display: inline-block;
}

.footer__aboutus {
  padding-top: 10px;
  padding-bottom: 18px;
  padding-left: 42.5%;
  padding-right: 42.5%;
  background-color: #111;
}

/* .social {
margin-left: -60px;
} */

/*--------------------------------
RESPONSIVE
---------------------------------*/

@media screen and (max-width:1024px){
  .sect{
    padding:100px 0;
  }
  .row--margin {
    margin-top: 55px;
  }
  .banner__title {
    font-size: 54px;
  }
  .half-sect__first{
    padding:100px;

  }
  .three-img__img{
    padding-bottom: 40%;
  }
  .sect--no-bottom{
    padding-bottom:0px !important;
  }
  .footer__half {
    padding: 30px;
  }
  .sect-t-footer{
    display:none;
  }
  .footer{
    position:relative;
  }
}


@media screen and (max-width:991px){
  .sect{
    padding:80px 0;
  }
  .banner__title {
    font-size: 50px;
  }
  .row--margin {
    margin-top: 45px;
  }
  .coffee {
    padding: 0 15px;
  }
  .coffe__img{
    width:100%;
  }
  .half-sect__first {
    padding: 80px;
  }
  .last-articles{
    margin-bottom:30px;
  }

  .sect__title, .description__title, .footer__big-title {
    line-height: 38px;
    font-size: 28px;
  }
  .footer__half {
    padding: 10px;
  }
  .navbar > ul li a {
    width:180px;
  }

}

@media screen and (max-width:767px){
  .banner-mobile {
    display: block;
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
  }
  .banner__title {
    font-size: 48px;
  }
  .three-img{
    height:auto;
  }
  .sect{
    padding:60px 0;
  }
  .row--margin {
    margin-top: 30px;
  }
  .coffee{
    margin-bottom:30px;
  }
  .coffee__img {
    width: 35%;
  }
  .coffee__descr, .sect__subtitle{
    padding: 0 50px;
  }
  .sect__title, .description__title, .footer__big-title {
    line-height: 36px;
    font-size: 26px;
  }
  .half-sect__first {
    padding: 50px;
  }
  .article-pre{
    margin-bottom:15px;
  }
  .footer__half {
    width: 100%;
    display: block;
    padding: 30px;
  }
  .half-sect {
    display: block;
    height: auto;
  }
  .half {
    width: 100%;
    display: block;
  }
  .half-sect__second{
    padding-bottom:60%;
  }

  #menu.active {
    display: block
  }

  #mobile-menu-open {
    /* display: none; */
    cursor: pointer;
    /* position: relative; */
    /* right: 15px; */
    /* top: 10px; */
    color: #6adacf;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 10px;
    border-radius: 4px;
    background: #fff
  }

  #mobile-menu-close {
    /* display: none; */
    text-align: right;
    width: 100%;
    background: #fff;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: #6adacf
  }

  #mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase
  }

  #mobile-menu-close i {
    vertical-align: middle
  }

  .navbar {
    position: fixed;
    display: none;
    /* z-index: 999; */
    animation: none;
    bottom: 0;
  }

  #mobile-menu-open, #mobile-menu-close {
    display: block;
  }

  #menu {
    background-color:darken(#337ab7,45%);
    overflow-y: auto;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
  }
  #menu li {
    display: block;
    margin-bottom: 10px;
  }
  .banner {
    background-size: 350px;
  }
  .banner__overlay {
    position: relative;
  }
  .sect--great {
    display: none;
  }

  .banner__scroll-down {
    background-color: #46B29D;
    position: fixed;
    bottom: 15px;
    left: 50%;
    right: 50%;
    animation: opacity 2s;
  }

  .footer__half-1 {
    display: none;
  }

  .banner {
    display: none;
  }

  .footer__aboutus {
    padding-left: 30.5%;
  }

  .social a {
    margin-left: 0;
  }

}

@media screen and (max-width:480px){
  .banner__title {
    font-size: 44px;
  }
  .sect{
    padding:50px 0;
  }
  .sect__title, .description__title {
    line-height: 30px;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .sect__subtitle{
    padding:0;
  }
  .coffee__img {
    width: 65%;
  }
  .coffee__descr, .sect__subtitle {
    padding: 0 15px;
  }
  .best--margin {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .row--margin {
    margin-top: 15px;
  }
  .best__img {
    width: 44px;
  }
  .best__title {
    margin-top: 15px;
  }
  .three-img__img {
    padding-bottom: 60%;
    width:100%;
  }

  .footer__half {
    padding: 10px;
  }
  .footer__desc {
    font-size: 11px;
    /* width: 180px; */
  }

}

.footercontainer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

li {
  list-style: none;
  display: inline-block;
}

.navpage {
  margin:60px;
}

.navpage__descr {
  line-height: 28px;
}

.tagline {
  color:#767;
  font-family: "Lora", serif;
  font-size: 24px;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 15px;
}

.aboutus-img {
  background-image: url('../assets/images/voicefirst.jpg');
  height: 0;
  padding-bottom: 48%;
  margin-top: 40px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1d140b;
}

.email {
  text-align: center;
}

.email svg {
  vertical-align: middle;
  margin-right: 5px;
}

.email a {
  color: #6a8;
  text-decoration: none;
  font-family: Consolas;
  letter-spacing: 1.25px;
}

.email a:hover {
  color: #a3ccb7;
}

/* sponsors */
.sponsor-gallery a{
  display:inline-block
}
.sponsor-gallery img {
  width:300px;
  padding:50px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.gold img{
  width:350px;
}
.sponsor-gallery img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.best__title__sponsor {
  text-align:center;
  letter-spacing: 1px;
  font-size: 21px;
  font-weight: 500;
  color: $green-homepage;  
}

