<div class="page">
  <div class="divided title">
    Confirmation
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">
        <fieldset ng-disabled="pastConfirmation">
          
          <p>You're in! Please confirm you'll be coming to Lumohacks by RSVPing below. Lumohacks is a 24 hour hackathon, and hackers are free to stay overnight. Lumohacks is located in <strong>Vancouver, BC</strong> and we can't provide reimbursements this year (maybe in the future!)
          <br>
          <br>
          We look forward to seeing you! Any questions? Don't hesitate to contact us!</p>
          <p class="email">
            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M2.167 2h11.666C14.478 2 15 2.576 15 3.286v9.428c0 .71-.522 1.286-1.167 1.286H2.167C1.522 14 1 13.424 1 12.714V3.286C1 2.576 1.522 2 2.167 2zm-.164 3v1L8 10l6-4V5L8 9 2.003 5z" fill="#6a8" fill-rule="evenodd"></path></svg>
            <a href="mailto:contact@designlablive.com" target="_blank">contact@designlablive.com</a>
          </p>
          <br>
          <br>

          <div class="divided title">Team</div>

          <div class="field">
            <label> Do you need to join a team?</label>
            <p>
              If so, please feel free to join the team formation session (details coming soon). Team is of 2 - 4 people, we encourage teams to be diverse and include people from engineering, design, health science, and business!
            </p>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.wantsHardware">
              <label> Yup, I would need to join a team. </label>
            </div>
          </div>

          <br>
          <br>

          <div class="divided title">everything else</div>

          <div class="field">
            <label>
              Additional Notes
            </label>
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea
              ng-model="user.confirmation.notes"></textarea>
          </div>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui blue button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
